- link ||= @link

- if can? :read, link

  - url = droom.link_path(link)

  %li{id: "link_#{link.id}", data: {refreshing: url}, class: "link_icon"}<
    = link_to link.name, link.url, class: "link manage"
    = action_menulink(link)
    = action_menu(link)

