.content
  - if notice.url?
    = link_to notice.url_with_protocol do
      %img{src: notice.cropped_image}
  - else
    %img{src: notice.cropped_image}
  = render "droom/scraps/notices/body", notice: notice, caption_limit: 300
