#event_types 
  .event_type 
    margin: 1.3em 0
    h2.name 
      font-size: 24px
      line-height: 32px

.datemark
  +outset
  text-align: right
  color: $mid
  a, a:visited
    color: $mid
  span
    display: block
    text-align: center
  span.mon
    text-transform: uppercase
    font-size: 1em
    line-height: 1
  span.dom
    font-size: 2em
    font-weight: bold
    line-height: 1
  span.year
    font-size: 1em
    line-height: 1
  &.editing
    a, a:visited
      color: $dark
.event-row
  display: flex
  align-items: flex-start

div.event, div.document, div.group
  position: relative
  clear: both
  margin-bottom: 10px
  &.quiet
    color: $pale
    a
      color: $pale

form.event, form.document
  position: relative
  margin-left: $datemark_width + $datemark_margin

div.event, form.event, div.project
  .summary
    .heading
      .detail-practicalities
        width: 70%
        display: inline-block !important
        margin-top: 5px
        p.name
          margin: 0
        p.practicalities
          margin: 0
          margin-top: 0
          color: $pearl_black
          span.admin
            margin-left: 20px
          span.location
            display: block
            padding: 5px 0
            display: flex
            align-items: flex-start
            gap: 5px
            svg
              margin-top: 2px
          span.time
            display: flex
            align-items: flex-start
            gap: 5px
            time
              line-height: 1.4
              display: inline-block
              width: calc(100% - 40px)
            svg
              margin-top: 2px
        div.detail
          display: flex
          flex-wrap: nowrap
          // padding-top: 5px
        &.full
          width: 100%
          .detail
            margin-top: 20px
            margin-bottom: 10px
          .links
            margin-bottom: 45px
      .attachments
        width: 50%
    p.visibility
      float: right
      margin: 10px 16px 0 10px
    .detail
      p
        margin-top: 0
  .col
    display: block
    width: 100%
    margin-right: 0
  
  div.full.addenda
    .attachments
      float: none
      width: 100%

.event.minimal .sample
  span.location, span.time
    display: block
    padding-bottom: 5px
  .shortened a
    color: $croucher-red !important
  span.web-link
    display: block

form.event
  span.interlabel
    display: inline-block
    padding: 8px
    width: 20px
    text-align: center
  p.name
    margin: 0
  div.datemark
    border: none
    padding: 4px 0
    margin-top: 1px
    margin-left: -$datemark_width
    margin-right: $datemark_margin - 4px
  input.name
    width: 100%
    font-size: 1.5em
  p.practicalities
    margin: 10px 0
    span.location, span.time
      font-size: 18px
    &.input-dates
      display: flex
  input.timepicker
    width: 70px
    font-size: 1.2em
    padding: 4px
    &.start
      font-weight: bold
  input.venuepicker
    font-size: 1.2em
    width: 265px
    padding: 4px
  .description
    margin-top: 0.5em
    textarea
      width: 470px
      font-size: 1em
      height: 250px

form.standard-event
  div.datemark
    margin-left: -68px
    @media (max-width: 800px)
      margin-left: 0px
      margin-bottom: 10px
  .event-type
    width: 270px
  .standard-submit-btn
    cursor: pointer
    padding: 3px 25px 0 25px
    font-family: 'MarrSans' !important
    width: max-content
    height: 40px
    font-size: 18px
    line-height: 24px
    font-weight: 600
    border-radius: 30px !important
    display: flex
    justify-content: center
    align-items: center
    background-color: transparent
    box-shadow: unset
    background-color: #000
    border: none
    color: #fff

div.timepicker
  box-shadow: 0 2px 2px #444
  position: absolute
  display: none
  height: 191px
  width: 60px
  overflow-x: hidden
  overflow-y: auto
  background: #fff
  border: 1px solid #aaa
  z-index: 99
  margin: 0
  ul
    list-style-type: none
    margin: 0
    padding: 0
  li
    cursor: pointer
    padding: 4px 3px
    &.selected
      background: $link
      color: #fff
      font-weight: bold
    &:hover
      background: $verypale
    &:active
      background: $link
      color: #fff

.full-width
  width: 100%
.mr-5
  margin-right: 5px
.ml-5
  margin-left: 5px

.event_list, #calendar
  div.event 
    .summary 
      display: flex 
      justify-content: space-between
      .heading
        .venue_time
          display: inline
          &::before
            content: none !important
          word-break: keep-all
          white-space: normal
          span.separator
            white-space: pre
          time
            white-space: nowrap
      .single_document
        a.document 
          display: unset 
  
  .no_external_events
    margin-bottom: 40px

.event_detail
  span.datetime
    word-break: keep-all
    white-space: normal
    span.separator
      white-space: pre
    time
      display: inline !important
      white-space: nowrap

@media (max-width: 700px)
  .datemark
    margin-left: 0

@media (max-width: 767px) 
  .event_list, #calendar
    div.event
      .summary
        .heading
          .detail-practicalities
            width: 100% !important
            .detail
              width: 100%
            .attachments
              ul.filing
                li.more 
                  white-space: nowrap
