%section.breadcrumb-container.pt.pb-img
  = link_to 'Dataroom', root_path
  = link_to 'Risk', croucher_droom_url("/risk/dashboard")
  = link_to 'Risk universe', croucher_droom_url("/risk/dashboard?view=risk_universe")
