.navbar_sub_container.mobile--show
  .container.navbar_sub_links.hide-scroll
    = link_to 'Future events', droom.events_url, class: 'text-sub-nav-title'
    = link_to 'Past events', droom.past_events_url, class: 'text-sub-nav-title'